@import '../variables.scss';

.movie-preview-page {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  margin: 0;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description-wrapper {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  position: relative;
}

.preview-react-player {
  margin: 1em 0 5em 0;
}

.preview-wrapper {
  width: 80%;
  margin: 5em;
  position: relative;
  background: rgba(253, 255, 252, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-preview-img {
  height: 25em;
  margin: 3em;
}

.movie-description {
  height: 100%;
  width: 50em;
  margin: 3em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.movie-preview-title {
  font-size: 2em;
  border-bottom: $dark-blue solid 2px;
  margin-bottom: 0.5em;
}

.movie-info-detail {
  text-align: -webkit-auto;
  margin: 0.3em 0.3em 0.3em 0;
}

.error-message {
  height: 100vh;
  color: $white;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movie-preview-button {
  position: absolute;
  margin: 2em;
  right: 0px;
  top: 0px;
  width: 32px;
  height: 32px;
  background: transparent;
  border: 0px solid transparent;
  transition: all 0.25s;
  &:hover {
    filter: invert(0.3);
    transform: scale(1.1);
    cursor: pointer;
  }
}
