@import '../variables.scss';

.player-wrapper {
  position: relative;
  padding-top: 41.7%;
  z-index: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin-top: 3em;
}

.react-player {
  transform: scale(1.35);
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 0;
}

.player-cover {
  transform: scale(1.35);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.trailer-info {
  position: absolute;
  padding: 2em;
  color: $white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 25%;
  right: 10%;
  background-color: rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 60px 40px rgba(0, 0, 0, 0.6);
  border-radius: 2em;
}

.trailer-movie-title {
  border-bottom: $white 1px solid;
  margin-bottom: 0.5em;
  font-size: 4em;
}

.trailer-details {
  font-size: 1.5em;
}

@media only screen and (max-width: 992px) {
  .trailer-movie-title {
    font-size: 3em;
  }
  .trailer-details {
    font-size: 1em;
  }
  .react-player {
    transform: scale(1.70);
  }
  .player-wrapper {
    margin-top: 3em;
  }
}

@media only screen and (max-width: 700px) {
  .trailer-movie-title {
    font-size: 2em;
  }
  .trailer-details {
    font-size: 0.5em;
  }
}

@media only screen and (max-width: 500px) {
  .trailer-movie-title {
    font-size: 1.3em;
  }

  .trailer-details {
    font-size: 0.4em;
  }
}