@import '../_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
  margin: 0px;
}

html {
  height: 100%;
  width: 100%;
  background-color: $dark-blue;
}

.app {
  text-align: center;
  background-color: $dark-blue;
  height: 100%;
  margin: 0px;
  font-family: 'Quicksand', sans-serif;
}

#blockColorblindContent {
  display: none !important;
}
