@import '../_variables.scss';

.navbar {
  border-bottom: $light-blue solid 2px;
  color: $white;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  background-color: $dark-blue;
  top: 0;
}