@import '../variables.scss';

.movies-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.section-heading {
  font-size: 2em;
  color: $white;
  margin: 4em 20% 1em 20%;
  border-bottom: $white 1px solid;
}
