@import '../variables.scss';

.movies-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background: rgb(1, 22, 39);
  background: linear-gradient(
    180deg,
    rgba(1, 22, 39, 1) 0%,
    rgba(9, 59, 57, 1) 100%
  );
}

.section-heading {
  font-size: 2em;
  color: $white;
  margin: 1em 20% 1em 20%;
  border-bottom: $white 1px solid;
}
