@import './_variables.scss';

* {
  margin: 0px;
}

html {
  height: 100%;
  width: 100%;
}

.app {
  text-align: center;
  background-color: $dark-blue;
  height: 100%;
  margin: 0px;
}

#blockColorblindContent {
  display: none !important;
}
