@import '../_variables.scss';

.movie-card {
  height: 20em;
  width: 12em;
  margin: 1em 2em;
  background-color: $white;
}

.homepage-img {
  height: 83%;
  width: 100%;
}

.movie-card-title {
  width: 98%;
  font-size: 1em;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}